[Unit]
Description=Nook Agent
After=network.target

[Service]
Type=simple
ExecStart=/home/nook-agent/nook-agent -c /home/nook-agent/config.yml
Restart=always
RestartSec=10s
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
